<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Koberce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Koberce.Properties.Settings>
            <setting name="DbName" serializeAs="String">
                <value>.\arena.db</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupDirectory" serializeAs="String">
                <value>.\DbBackup</value>
            </setting>
            <setting name="ScannerServer" serializeAs="String">
                <value>ftp://ftp.drivehq.com/</value>
            </setting>
            <setting name="WebServer" serializeAs="String">
                <value>http://www.globalkoberce.sk/</value>
            </setting>
            <setting name="PriceCoef" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="WebParam" serializeAs="String">
                <value>pages/getproduct.html?id=XXX</value>
            </setting>
            <setting name="Ptcomm" serializeAs="String">
                <value>ptcomm.exe</value>
            </setting>
            <setting name="PtcommDir" serializeAs="String">
                <value>c:\scanner\upload</value>
            </setting>
            <setting name="PtcommCommand" serializeAs="String">
                <value>/comport:1 /ptaddr:A /destdir:C:\\scanner\\Upload\\ /exit /upload:SK.TXT,FROMSK.TXT,INVENTOR.TXT,SOLD.TXT,EXH.TXT</value>
            </setting>
            <setting name="FtpLogin" serializeAs="String">
                <value>mizu</value>
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value>nepoviem</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Koberce.Properties.Settings>
    </userSettings>
</configuration>